## Ava Ring - Code Practice 1

## Question 1

In [2]:
2+3

5

python executed a standard addition

In [3]:
2 + 5

7

the same thing, but with a space

In [4]:
2*5

10

python can do multipication too

In [5]:
2/5

0.4

and division

In [7]:
2**5

32

Two * tells python to treat the second number as an exponent

## Question 2

In [2]:
x = 7
x = x + 3

The value of x will be 10 because I assigned x as 7, then as 10

In [3]:
x

10

## Question 3

In [4]:
x=3
y=x
x=10

In [5]:
x,y

(10, 3)

y was assigned as x (which was already assigned as 3) so y is 3. x was assigned as 10.

## Question 4

In [1]:
x=3
x=x/2
y='abc'
z = y+y
print(x,z)

1.5 abcabc

In [2]:
whos

Variable   Type     Data/Info
-----------------------------
x          float    1.5
y          str      abc
z          str      abcabc

x is 3/2 because x was 3 and then divided by 2. z is the product of combining 2 string (abc). print function shows what the elements mean.

## Question 5

In [4]:
x= 3
x=x/2
y='abc'
z=x+y
print(x,z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [5]:
whos

Variable   Type     Data/Info
-----------------------------
x          float    1.5
y          str      abc
z          str      abcabc

It ran with an error because you can't concatenate types float and str

## Question 6

In [11]:
x=3
y=24
z=y/x
print(x,y,z, sep=" | ")

3 | 24 | 8.0

ran without error. sep says all of the variablee will be printed seperated by |

## Question 7

In [17]:
x=3
y="24"
z=y/x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

ran with error because python doesn't let you divide a string and an integer

## Question 8

In [18]:
x = "I am a #string" # Whoa, a string

In [19]:
print(x)

I am a #string

it printed a string successfully. Anything you put after # in code isn't computed

## Question 9

In [21]:
x=[1,2,3]
y=[42,43]
z=x+y
print(z)

[1, 2, 3, 42, 43]

runs without error. combined two separate numbered lists into one ordered list

## Question 10

In [22]:
x=[1,2,3]
y=42
z=x+y

TypeError: can only concatenate list (not "int") to list

runs with error. can't concatenate list and int, only list and list

## Question 11

In [23]:
x1=12
x2=12.0
x3='12.0'
x4=[12]
x5=[12, 12.0, '12.0']

In [24]:
whos

Variable   Type     Data/Info
-----------------------------
l          str      ava
v          int      2
x          list     n=3
x1         int      12
x2         float    12.0
x3         str      12.0
x4         list     n=1
x5         list     n=3
y          int      42
z          list     n=5

x1 is an int, x2 is a float, x3 is a string, x4 is a list, x5 is a list as well

## Question 12

In [28]:
type(42)

int

42 is an integer (number)

In [29]:
type(42.0)

float

42.0 is a float aka a real number

In [30]:
type("42.0")

str

this is a string whic his a collection of characters in b/w ""

In [31]:
type("""42.0""")

str

this is also a string for the same reason

In [32]:
type([1,2])

list

this is list which is an ordered list inside of []

In [33]:
type([1]+[2])

list

this is also a list because it's combining two lists

In [34]:
type(1+2)

int

this is an integer because it's combining two integers

In [35]:
type(print)

builtin_function_or_method

python is saying print is a built in function or method it knows

## Question 13

In [36]:
type(float(str(int('1234'))))

float

this type is a float (real #)

## Question 14

In [37]:
type(int(float('12.34')))

int

the datatype of this is integer

## Question 15

In [39]:
len([1234])

1

there is one item in the list

In [40]:
len("1234")

4

there are 4 items in the string

In [41]:
len(1234)

TypeError: object of type 'int' has no len()

this runs with an error because integers don't have a length

## Question 16

In [42]:
x = []

In [45]:
type(x)

list

In [46]:
len(x)

0

the type of x is a list because of the brackets. the length is 0 because there are no items in the list

## Question 17

In [47]:
x="abcde"
list(x)

['a', 'b', 'c', 'd', 'e']

it looks like a list of individual strings

## Question 18

In [48]:
x=1234

In [49]:
float(x)

1234.0

In [51]:
str(x)

'1234'

In [59]:
x=1234
list(str(x))

['1', '2', '3', '4']

## Question 19

In [2]:
x = "luke, i am your father"

## Question 20

In [3]:
x="How many characters and words are in this string?"

In [4]:
len(x)

49

it contains 49 characters

In [6]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

## Question 21

here is the [link](https://github.com/aring591/my_first_repository/blob/master/time_for_practice1.csv)