# Ava Ring 
## ajr591@nyu.edu
### N11178136

# Question 1

### Part A
This exam is written using Python on a jupyter notebook.

### Part B
If I need help I can: 
* type "functionIneedhelpwith?" in a code cell. A screen will pop up that gives details on the "functionIneedhelpwith"
* type help(functionIneedhelpwith) which will kick back details of the "functionIneedhelpwith"
* I can google the question and look at github or stackoverflow answers

### Part C
I can find the website at [here](https://nyu.data-bootcamp.com/undergrad_outline/)
I can find the book by clicking [here](https://www.gitbook.com/book/nyudatabootcamp/data-bootcamp/details)

### Part D

# Question 2

In [1]:
my_string = "Thi; i; A ;tring"

### Part a

In [3]:
my_string_lowercase = my_string.lower()

In [7]:
my_string_lowercase

'thi; i; a ;tring'

### Part b

In [5]:
my_string_nospace = my_string.replace(" ", "")

In [6]:
my_string_nospace

'Thi;i;A;tring'

### Part c

In [8]:
my_string_s = my_string.replace(";", "s")

In [9]:
my_string_s

'This is A string'

### Part d

In [10]:
my_string.split(maxsplit = 1)

['Thi;', 'i; A ;tring']

In [11]:
my_string.rsplit(maxsplit = 1)

['Thi; i; A', ';tring']

In [12]:
my_string.split?

In [13]:
my_string.rsplit?

Return a list of the words in S, using sep as the
delimiter string, 
#### starting at the end of the string 
and working to the front.  If maxsplit is given, at most maxsplit
splits are done. If sep is not specified, any whitespace string
is a separator.

In [14]:
# they both split the string once, difference is that rsplit starts at the end

### Part e

In [16]:
my_string_s

'This is A string'

In [18]:
my_string_s = my_string_s.replace("A","a")
my_string_s

'This is a string'

# Question 3

### Part a

In [20]:
type(range(5))

range

In [21]:
type(list(range(5)))

list

### Part b

In [27]:
range_ = range(0,100)

for number in range_:
    total = number + number

    print(total)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

### Part c

In [28]:
nums = ["ten", "nine", "eight", "seven", "six", "five"]

In [62]:
numslist = [len(number) for number in nums]
numslist

[3, 4, 5, 5, 3, 4]

In [64]:
numslist.sum()

AttributeError: 'list' object has no attribute 'sum'

### Part d

In [45]:
dictnums = {"ten": 10, "nine":9, "eight":8, "seven":7, "six":6, "five":5}

In [46]:
dictnums

{'eight': 8, 'five': 5, 'nine': 9, 'seven': 7, 'six': 6, 'ten': 10}

# Question 4

### Part a

In [52]:
def mymessage(x):
    if type(x) == str:
        print(len(x),type(x))
    if type(x) == list:
        print(len(x),type(x))
    else: print(type(x))

In [53]:
b1 = 2*3
b2 = 2.0*3
b3 = 'Dave Backus'
b4 = ['This', "is", 'not', "a", 'string']
b5 = (b4[0], b4[2], b4[4])

In [54]:
mymessage(b1)

<class 'int'>

In [56]:
mymessage(b2)

<class 'float'>

In [57]:
mymessage(b3)

11 <class 'str'>
<class 'str'>

In [58]:
mymessage(b4)

5 <class 'list'>

In [59]:
mymessage(b5)

<class 'tuple'>